body{   
        background:url(/images/245194-106.jpg);
        background-size:cover;
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-position:center;
     }
.sidebar {
	background-size: 320px 659px;
    background-position-y: 1vh;
    background-repeat: no-repeat;
    box-shadow: inset 2px 2px 40px #bdb2b2;
}
// Custom styles.